*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body
{
background-color: #292929;
color:aliceblue;
}

.navigation
{
    background-color: #292929;
    overflow: hidden;
    float: none;
    position: static;
    top: 0%;
    left: 0%;
    width:100vw;
    text-align: center;
    padding:20px;
    border-bottom:1px solid white;
    margin-top: 0;
    
}

.navigation a
{
    color:#f2f2f2;
    padding:14px 16px;
    text-decoration:wavy;
    font-size: 20px;
}

.navigation a:hover
{
    background-color: #4e7f6d;
    color: white;
}

.navigation a.active
{
    background-color: #365a4d;
    color:white;
}

.banner
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align:center;
    position:relative;
    width: 100vw;
}

.ProjectContent
{
    margin: 10px;
    text-align: center;
}

.ProjectContainerNew
{
    margin: 10px auto;
    height:300px;
    width: 700px;
    background-color: #202020;
    margin-bottom: 20px;
}

.LatestProjectImg
{
    float:left;
    width:300px;
    height:300px;
    background-image: url("danganronpa_logo.jpg");
}

.LatestProjectCard
{
    height:300px;
    float:right;
    width:400px;
    font-size: large;
}

.ProjectContainer
{
    height:200px;
    width: 500px;
    background-color: #202020;
    margin:5px;
}

.ProjectImg
{
    float:left;
    width:200px;
    height:200px;
    background-image: url("chiens.jpg");
}

.ProjectCard
{
    height:200px;
    float:right;
    width:300px;
}

.ProjectColumnLeft
{
    margin-left: 140px;
    background-color: #365a4d;
    float:left;
}

.ProjectColumnRight
{
    margin-right: 140px;
    background-color: #365a4d;
    float:right;
}